
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: WHITE;  
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #1F2937;
  padding-bottom: 50px;
}

.logo {
  /* margin-left: 11%; */
  padding-left: 122px;
  color: #F9FAF8;
  font-size: 24px;
  flex: 1;
  font-weight: 1000;

}

.links {
  /* border: 2px solid red; */
  display: flex;
  gap : 20px;
  /* flex: 1; */
  /* margin-right: 8%; */
  padding-right: 100px;
  align-items: center;
  font-size: 18px;
  color: #E5E7EB;
}

.banner {
  display: flex;
  gap: 50px;
  background-color: #1F2937;
  color: white;
  padding-bottom: 50px;
  justify-content: space-between;
}

.p1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* justify-content: center; */
  align-items: baseline;
  padding-left: 135px;
}

.p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 30%; */
}

.main {
  color: #F9FAF8;
  /* border: 2px solid red; */
  font-size: 48px;
  font-weight: 800;
  max-width: 450px;
  padding-bottom: 10px;
}

.para {
  /* border: 2px solid red; */
  font-size: 18px;
  color: #E5E7EB;
  max-width: 450px;
  padding-bottom: 10px;
}

.signup {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 20px;
  font-weight: 600;
  width: 120px;
  padding: 10px 0px;   
  border-radius: 6px;
  border: none;
}

.img1 {
  max-width: 520px;
  /* min-width: 520px; */
  height: 240px; 
  background-color: #ddd;
  flex: 1 0 0;
  margin-right: 50px;
}

.randinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.heading {
  padding: 20px;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  padding: 40px 0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 700px;
}

.unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
  gap: 10px;
  /* max-width: 128px; */
}

.infodump {
  min-width: 150px;
}

.img2 {
  max-width: 128px;
  height: 128px;
  /* background-color: #ddd; */
  border: 2px solid #3882F6;
  border-radius: 20px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  text-align: justify;
  color: #1F2937;
}

.thequote {
  font-size: 36px;
  font-style: italic;
  padding: 150px 150px 10px 150px;
}

.author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 700;
  padding-right: 150px;
  padding-bottom: 150px;
}

.footer {
  /* justify-self: center; */
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 100px auto;
  max-width: 1000px;
  border-radius: 20px;
  padding: 0 100px;
  background-color: #3882F6;
  flex-basis: auto;
  /* max-width: 800px; */
}

.words {
  padding: 50px 20px;
  /* border-radius */
}

.words .call {
  font-size: 24px;
  color: white;
  font-weight: 700;
}
.words .ask {
  color: white
}

.button2 {
  align-self: center;
  color: white;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  font-size: 24px;
  margin-right: 50px;
  width: 160px;
  background-color: #3882F6;
  border-color: white;
  border-radius: 10px;
}
